<a href="https://colab.research.google.com/github/adelardw/Titanic-ML-/blob/main/Titanic_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 * # Практика
Ниже представлен датасет из соревнования:
https://www.kaggle.com/competitions/titanic/overview/evaluation

Примените один (можно комбинировать несколько) из изученных методов машинного обучения. Результатом будет классфикатор, который будет отвечать на вопрос "выживет ли человек с данными признаками на титанике?".

* ## Загрузка датасета

In [699]:
!wget -O titanic.csv https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2023-02-15 15:16:55--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2023-02-15 15:16:55 (5.02 MB/s) - ‘titanic.csv’ saved [60302/60302]

* # Подготовка данных

In [700]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [701]:
df = pd.read_csv('./titanic.csv')

In [702]:
# Посмотреть на данные (Визуализация)
# Препроцессинг данных (обработка)
# Разделение на тренировочную и тестовую выборки
# Обучение модели 
# Проверка метрик на тестовой выборке

In [703]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [704]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [705]:
df['Age'].isnull().sum()

177

In [706]:
av_age = df['Age'].median()
new_age = df['Age'].fillna(av_age)

In [707]:
df.corr()['Survived']

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.077221
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Name: Survived, dtype: float64

In [708]:
df.drop(columns = ['Name','PassengerId'],inplace = True)
df['Age'] = new_age
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,female,28.0,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [709]:
df['Embarked'].fillna('Q',inplace = True)

In [710]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [711]:
# Transform embarked
ohee_embarked = OneHotEncoder() 
transform_embarked = ohee_embarked.fit_transform(df['Embarked'].to_numpy().reshape(-1,1))

ohee_embarked.get_feature_names_out()

array(['x0_C', 'x0_Q', 'x0_S'], dtype=object)

In [712]:
df[['C','Q','S']] = transform_embarked.toarray()

In [713]:
# Transform Sex
df['Sex'].replace(['female','male'],[0,1], inplace = True)

In [714]:
# transform cabin
ohe_cabin = OneHotEncoder() 
transform_cabin = ohe_cabin.fit_transform(df['Cabin'].to_numpy().reshape(-1,1))

feature_cabin_names = ohe_cabin.get_feature_names_out()

In [715]:
df[feature_cabin_names] = transform_cabin.toarray()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

In [716]:
# transform pclass
ohe_pclass = OneHotEncoder() 
transform_pclass = ohe_pclass.fit_transform(df['Pclass'].to_numpy().reshape(-1,1))

In [717]:
df[['Pclass1','Pclass2','Pclass3']] = transform_pclass.toarray()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

In [718]:
# transform tickets
ohe_tickets = OneHotEncoder() 
transform_tickets = ohe_tickets.fit_transform(df['Ticket'].to_numpy().reshape(-1,1))
feature_ticket_names = ohe_tickets.get_feature_names_out()

In [719]:
df[feature_ticket_names] = transform_tickets.toarray()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

In [720]:
features_name = np.array(['Pclass1','Pclass2','Pclass3','C','Q','S','Sex', 'Age','Fare'])
#features_name = np.append(features_name,feature_cabin_names)                                    # without tickets
features_name = np.append(np.append(features_name,feature_cabin_names),feature_ticket_names)

In [721]:
df.drop(columns = ['Pclass','Embarked','Parch','Ticket','Cabin','SibSp'],inplace = True)

In [722]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as msee
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [723]:
X = df[features_name]
y = df['Survived']

X_train,X_test,y_train, y_test = train_test_split(X,y, test_size = 0.2,random_state = 13)
logreg = LogisticRegression(max_iter = 2500)
logreg.fit(X_train,y_train)
y_pred = logreg.predict(X_test)

mse = msee(y_test,y_pred)

'1 - выживет, 0 - погибнет'
die_or_survive = 1
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, pos_label= die_or_survive)
recall = recall_score(y_test, y_pred, pos_label= die_or_survive)
f1 = f1_score(y_test, y_pred, pos_label= die_or_survive)

In [724]:
print(f'Mse: {mse}')
print("Accuracy: {}\nPrecision: {}\nRecall: {}\nF1-Score: {}".format(accuracy, precision, recall, f1))

Mse: 0.13966480446927373
Accuracy: 0.8603351955307262
Precision: 0.8142857142857143
Recall: 0.8260869565217391
F1-Score: 0.8201438848920863